{% load static %}

<html>
  <head>
    <script type="text/javascript" src="{% static 'js/builtins.js' %}"></script>
    <!-- script type="text/javascript" src="{% static 'js/py_exception.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/py_int.js' %}"></script -->
    <!-- script type="text/javascript" src="{% static 'js/py_float.js' %}"></script -->
  </head>

  <body>
    <script type="text/javascript">
    </script>
    <script type="text/javascript" src="{% static 'js/conceptions.js' %}"></script>
    <!-- script type="text/javascript" src="{% static 'js/tests/test_type.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tests/test_call.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/tests/test_int.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tests/test_float.js' %}"></script -->

    <!-- script type="text/javascript" src="{% static 'js/py_list.js' %}"></script -->
    <!-- script type="text/javascript" src="{% static 'js/tests/test_argparser.js' %}"></script -->
  </body>
</html>
